.container {
    width:400px;
    height:300px;
    color: #08043b;
    display: flex;
    flex-direction: row;
    border: 3px solid whitesmoke;
    border-radius: 30px;
}
.body {
    width:355px;
    padding: 10px;

}
.inputContainer {
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row;
    margin:40px 0;
    justify-content: space-between;
}

.bgcChanger {
    padding-top: 16px;
    width:45px;
    display: flex;
    flex-direction: column;
    border-left: 3px solid white;
    height: 297px;
    padding-left: 5px;
}