.container {
    width:400px;
    height:222px;
    color: #08043b;
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
   
}
.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body {
    width:355px;
    padding: 10px;
}
.inputContainer {
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row;
    margin:20px 0 0px 0;
    justify-content: space-between;
}
.buttonSize {
    width:60px;
    height: 60px;
}
.buttonO {
    filter: invert(49%) sepia(81%) saturate(1926%) hue-rotate(85deg) brightness(123%) contrast(122%);
    transition: transform 0.8s;
}
.buttonX {
    filter: invert(19%) sepia(95%) saturate(4400%) hue-rotate(354deg) brightness(98%) contrast(131%);
    transition: transform 0.8s;
}
.buttonO:active, .buttonX:active {
transform: scale(0.95);
}
.dFlex {
    width:100%;
    display: flex;
    justify-content:space-around;
}
.bgcChanger {
    padding-top: 10px;
    width:45px;
    display: flex;
    flex-direction: column;
    border-left: 5px solid white;
    height: 217px;
    border-radius: 30px;
    padding-left: 5px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 10px;
}
.bigCupContainer {
    width:250px;
    height: 400px;
    background-color: white;
    align-content: center;
    border-radius: 0px 0px 40px 40px;
    border: 5px solid rgb(7, 1, 65);
}
.bigCupContainer h3,.bigCupContainer h4 {
    color: black;
}