.fullyContainered {
    width: 100vw;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.803);
}
.container {
    width:400px;
    height:240px;
    color: #08043b;
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body {
    width:355px;
    padding: 10px;
}
.inputContainer {
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row;
    margin:20px 0 0px 0;
    justify-content: space-between;
}
.buttonSize {
    width:60px;
    height: 60px;
}
.buttonO {
    filter: invert(49%) sepia(81%) saturate(1926%) hue-rotate(85deg) brightness(123%) contrast(122%);
    transition: transform 0.8s;
}
.buttonX {
    filter: invert(19%) sepia(95%) saturate(4400%) hue-rotate(354deg) brightness(98%) contrast(131%);
    transition: transform 0.8s;
}
.buttonO:active, .buttonX:active {
transform: scale(0.95);
}
.dFlex {
    width:100%;
    display: flex;
    justify-content:space-around;
}
.bgcChanger {
    padding-top: 10px;
    width:45px;
    display: flex;
    flex-direction: column;
    border-left: 5px solid white;
    height: 235px;
    border-radius:50px;
    padding-left: 5px;
}
h1,h2 {
    margin: 10px;
}
h3 {
    margin-bottom: 5px;
}
.bigCupContainer {
    width:250px;
    height: 400px;
    background-color: white;
    align-content: center;
    border-radius: 0px 0px 40px 40px;
    border: 5px solid rgb(7, 1, 65);
    overflow: hidden;
    border-top:0px;
    color:black;
}
.waterInsideBigCupContainer {
    width:100%;
    height:100%;
    background-color: #0274b1;
    display: flex;
    flex-direction: column;
    color:white;
}
.bigCupContainer p,.bigCupContainer h4 {
    color: black;
}
.bgColor {
    margin-bottom: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
.waterInsideSmallCupContainer{
    width:100%;
    height:100%;
    background-color: #0274b1;
    display: flex;
    flex-direction: column;
    padding-top: 50%;
    color:white;
}
.smallCupContainer {
    width:70px;
    height: 90px;
    background-color: white;
    color:black;
    align-content: center;
    border-radius: 0px 0px 20px 20px;
    border: 5px solid rgb(7, 1, 65);
    overflow: hidden;
    border-top:0px;
    margin-right: 30px;
    margin-top: 10px;
   
}
.smallCupsContainer {
    width:calc(100% / 2 );
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
}