.fullyContainered {
    width: 100vw;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.803);
    z-index:2
}
.WarningContainered {
    width: 100vw;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.803);
    z-index:3;
    
}
.warningContainer {
    width:300px;
    height:150px;
    background-color: rgb(0, 167, 209);
    position: absolute;
    z-index: 4;
    top:20px;
    left:50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    border:5px solid white
    
}
.warningContainer h4 {
    margin: 20px 5px;
}
.warningContainer button {
    background-color: rgb(4, 0, 255);
    padding:5px 10px;
    border:0;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    width:400px;
    height:240px;
    color: #08043b;
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.body {
    width:355px;
    padding: 10px;
}
.inputContainer {
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row;
    margin:20px 0 0px 0;
    justify-content: space-between;
}
.buttonSize {
    width:60px;
    height: 60px;
}
.buttonO {
    filter: invert(49%) sepia(81%) saturate(1926%) hue-rotate(85deg) brightness(123%) contrast(122%);
    transition: transform 0.8s;
}
.buttonX {
    filter: invert(19%) sepia(95%) saturate(4400%) hue-rotate(354deg) brightness(98%) contrast(131%);
    transition: transform 0.8s;
}
.buttonO:active, .buttonX:active {
transform: scale(0.95);
}
.dFlex {
    width:100%;
    display: flex;
    justify-content:space-around;
}
.bgcChanger {
    padding-top: 10px;
    width:45px;
    display: flex;
    flex-direction: column;
    border-left: 5px solid white;
    height: 235px;
    border-radius:50px;
    padding-left: 5px;
}
h1,h2 {
    margin: 10px;
}
h3 {
    margin-bottom: 5px;
}

.bgColor {
    margin-bottom: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
.mainGlass {
    width: 200px;
    height: 300px;
    border: 5px solid #000623;
    border-radius: 0 0 50px 50px;
    border-top: 0;
    color: #000c4a;
    background-color: #fff;
    
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.glasses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.glass {
    width: 60px;
    height: 100px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.9568627451);
    cursor: pointer;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5;
    margin: 10px;
}

.ML200 {
    width:25px;
    height:45px;
    border-radius:0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5 ease-in;
    position: absolute;
    background-color: #fff;
    bottom:20px;
    right:20px;
    color: black;
    font-size:12px;
    cursor: pointer;
}